@tailwind base;
@tailwind components;
@tailwind utilities;


.containerNav{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
}

.containerMYfixed{
 padding: 15px 90px;
}


.Hostify  li{
  font-size: 1.5rem;
  color: #0284c7;
  font-weight: 800;
}

.roundOne{
  color: green !important;
  border-top: 1px solid #0284c7;
  border-bottom: 1px solid #0284c7;
  width: 19px;
  height: 19px;
  margin-top: 9px;
  align-items: center;
  border-radius: 50%;
  animation: circleing 3s linear infinite;
}

.roundtwo{
  color: green !important;
  border-left: 1px solid #0284c7;
  border-right: 1px solid #0284c7;
  width: 19px;
  height: 19px;
  margin-top: 9px;
  align-items: center;
  border-radius: 50%;
  animation: circleingsecond 3s linear infinite reverse;
}
 
@keyframes circleing{
   from{
     color : green !important;
    transform: rotate(0deg);
   }
   from{
     color : green !important;
    transform: rotate(360deg);
   }
}


@keyframes circleingsecond{
   from{
     color : green !important;
    transform: rotate(0deg);
   }
   from{
     color : green !important;
    transform: rotate(360deg);
   }
}

.mainNav li {
  margin: 0 11px;
  padding: 7px 15px;
  position: relative;
  z-index: 1;
  color: #1e293b;
  transition: all 1s;
}

.mainNav li::before{
      content: "";
      position: absolute;
      left: -6px;
      top: -6px;
      width: 20px;
      height: 20px;
      z-index: -1;
      border-top: 3px solid #0369a1;
      border-left: 3px solid #0369a1 ;
      transform: translateX(40%) translateY(40%);
      transition: all 1s;
     opacity: 0;
}

.mainNav li::after{
      content: "";
      position: absolute;
      right: -6px;
      bottom: -6px;
      width: 20px;
      height: 20px;
      z-index: -1;
      border-right: 3px solid #0369a1;
      border-bottom: 3px solid #0369a1 ;
      transform: translateX(-40%) translateY(-40%);
      transition: all 1s;
      opacity: 0;
}

.mainNav li:hover:before{
    transform: translateX(0) translateY(0);
    opacity: 1;
}

.mainNav li:hover:after{
    transform: translateX(0) translateY(0);
    opacity: 1;
}

.mainNav li:hover{
  background-color: #0284c7;
  color: white;
}

.banner{
  padding-top: 20px;
 
}



.Bimage{
  width: 100%;
  height: 550px;
}

.bannerImage{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  
}

.containerVideo{
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoContent{
  height: 100%;
}


.borderTest{
  border: 1px solid red;
}

.felxCarousel{
 display: flex;
 align-items: center;
 justify-content: center;
}

.Multifirst{
  width: 50%;
  height: 100%;
}

.Multisecond{
  width: 50%;
}

.itembox{
  height: auto;
  width: 310px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  padding: 15px 19px;
}


.itemImage{
  position: relative;
  width: 100%;
 
}

.imagePosition{
  width: 100%;
  height: 160px;
}

.itemContent{
  margin-top: 5px;
}

.extraPadding{
  padding: 60px 100px;
}

.midCard{
  width: 100%;
  height: 200px;
}

.midCardImage{
  width: 100%;
  height: 100%;
  transition: all 1.5s;
}

.cARD{
  width: 100%;
  height: 300px;
  border: 1px solid #cbd5e1;
  border-radius: 15px;
}

.CardRotate{
  position: relative;
  transition: all 1.5s;
 overflow: hidden;
}

.CardRotate::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 1.5s;
  background-color: rgba(0, 0, 0, 0.1);
  color: transparent;
  border-radius: 15px;
}

.CardRotate:hover .midCardImage{
   height: 150%;
   opacity: 0.7;
   filter: blur(6px);
   transition: all 1.5s;
}

.CardRotate:hover:before{
 transform: translateX(0);
 transition: all 1.5s;
}

.updownContent{
  height: 400px;
  transition: all 1.5s;
 
}

.CardRotate:hover .updownContent{
  transform: translateY(-70%);
}